@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    background-size: cover;
    height: 100vh;
    font-family: "Bree Serif";

}

.sleep-music {
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.main-heading-sleep-music {
    font-size: 25px;
    font-weight: 500;
}

.para-main-heading {
    font-weight: 300;
}

.night-island-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    background-size: cover;
    height: 150px;
    width: 250px;
    padding: 50px;
    text-align: center;
    margin-bottom: 5px;
}

.night-island-main-heading {
    text-align: center;
    color: #ffe7bf;
    font-size: 26px;
}

.night-island {
    color: #ffffff;
    text-align: center;
}

.night-island-para {
    font-size: 14px;
    font-weight: 300;
}

.button {
    color: #ffffff;
    background-color: #8e97fd;
    border-width: 0px;
    border-radius: 15px;
    font-size: 13px;
    height: 30PX;
    width: 100px;
}

.Detailed-page-container {
    background-color: #03174c;
}

.Detailed-page-img {
    width: 100vw;
    background-size: cover;
}

.Detailed-page {
    padding: 20px;
    font-family: "Bree Serif";
}

.Detailed-page-main-heading {
    color: #ffffff;
    font-size: 26px;
}

.Detailed-page-para {
    color: #98a1bd;
    font-size: 13px;
}

.Detailed-page-music-time {
    color: #98a1bd;
    font-size: 15px;
    margin-bottom: 15px;
}

.related {
    color: #ffffff;
    font-size: 20px;
}

.music-img {
    height: 90px;
    width: 130px;
    margin-right: 20px;
}

.music-name {
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
}
